# Node related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS related
.DS_Store
*.swp
*.swo
*.swn
*.log
*.tmp
*.tmp.*
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors and IDE related
.idea/
*.sublime*
*.iml
*.tsbuildinfo
c_cpp_properties.json

# Builds and dependencies
dist/
build/
out/
.vite/

# Dotenv environment variables file
.env
.env.test
.env.production

# Others
*.log
*.pid
*.seed
*.cmd
*.lock
*.tlog
*.vscode-test
